@media all and (max-width: 1280px) {
	
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
/* - iPad Portrait - *////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
	menu#main {
		position:fixed;
		top:0 !important;
		.left {
			width:287px;
		}
		.main-nav {
			ul {
				li {
					a {
						padding:14px 34px 14px 34px;
					}
				}
			}
		}
	}
	#about {
		.container {
			width:768px;
		}
		.imagen {
			.texto {
				padding:120px 20px 0;
				.container {
					width:728px;
				}
			}
			h1.desc {
				padding:0 80px;
				font-weight:500;
			}
			&.equipo {
				background:url(../img/about-equipo-bg.jpg) no-repeat top center;
				.texto {
					padding:80px 20px 0;
				}
			}
		}
		.content.equipo {
			ul.miembros {
				>li {
					.left {
						width:150px;
						margin:0 20px 0 40px;
						img {
							width:150px;
							height:150px;
							margin:20px 0 0;
						}
					}
					.right {
						width:530px;
						h2 {
							margin:0 0 10px;
						}
					}
				}
			}
		}
		.footer {
			.container {
				padding:25px 40px 25px;
			}
		}
	}
	#intro {
    	background-size:auto 100%;
    	.front {
    		.content {
    			h1.desc {
	    			font-weight:300;
	    		}
    		}
    	}
	}

}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
/* - iPad Landscape - *///////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	
	* {overflow:hidden !important;}
	body {margin-top:0 !important;}
	menu#main {
		position:fixed;
		top:0 !important;
		.left {
			width:287px;
		}
		.main-nav {
			ul {
				li {
					a {
						padding:14px 34px 14px 34px;
					}
				}
			}
		}
	}
	#about {
		.imagen {
			&.equipo {
				background:url(../img/about-equipo-bg.jpg) no-repeat top center;
			}
			h1.desc {
				font-weight:300;
			}
		}
	}
	#intro {
    	background-size:auto 100%;
    	.front {
    		.content {
    			h1.desc {
	    			font-weight:300;
	    		}
    		}
    	}
	}

}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
/* - iPhone Portrait - *//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait) {
	
	menu#main {
		position:fixed;
		top:0 !important;
		.left {
			width:320px;
		}
		.main-nav {
			ul {
				li {
					a {
						padding:14px 45px 14px 44px;
					}
					&:last-child {
						a {
							padding:14px 45px;
						}
					}
				}
			}
		}
		.sub-nav {
			margin:0;
			width:320px;
			.proyect-desc {
				background:rgba(0,0,0,0.8);
				padding:0 15px;
			}
			&.collapsed {
				.proyect-desc {
					height:440px !important;
					padding:15px !important;
				}
			}
		}
		.right {
			position:fixed;
			bottom:0;
			left:58px;
			z-index:9;
		}
	}
	menu#proyect-navi {
		bottom:40px;
		a {
			width:40px;
			span {
				display:none;
				visibility:hidden;
			}
		}
	}
	#proyectos .slides ul li img {
		height:480px;
	}
	#about {
		.container {
			width:100%;
		}
		.imagen {
			.texto {
				padding:90px 20px 0;
				h1.desc {
					font-size:22px;
					padding:0;
					font-weight:300;
				}
			}
			&.about {
				background-size:auto 30%;
			}
			&.equipo {
				.texto {
					padding:70px 20px 0;
				}
			}
		}
		.content {
			padding:25px 0;
			p {
				padding:0 20px;
				font-size:15px;
			}
			&.equipo {
				ul.miembros {
					>li {
						.left {
							float:none;
							margin:0 auto;
							width:180px;
							img {
								width:100%;
								height:auto;
							}
						}
						.right {
							width:100%;
							padding:20px 20px 0;
						}
					}
				}
			}
		}
		.footer {
			.container {
				padding:25px 15px;
				.right {
					padding:10px 0 0;
					float:none;
					clear:both;
				}
			}
		}
	}
	.home {
		menu#main {
			.right {
				position:relative;
				bottom:40px;
				left:0;
				.social {
					display:none;
					visibility:hidden;
				}
			}
		}
	}
	#intro {
    	background-size:auto 100%;
    	.front {
    		.content {
    			margin-top:70px !important;
    			padding:90px 20px 0;
    			h1.desc {
					font-size:19px;
					margin:0 auto 30px;
					font-weight:300;
    			}
    		}
    	}
	}

	.home {
		menu#main {
			.left {
				.main-nav {
					ul {
						li {
							a {
								padding:14px 28px;
								&.logo {
									padding:0;
								}
							} 
							&:last-child a{
								padding:14px 28px 14px 29px;
							}
						}
					}
				}
			}
		}
		&.lang-es {
			menu#main {
				.left {
					.main-nav {
						ul {
							li {
								a {
									padding:14px 20px 14px 21px;
								}
								&:last-child {
									a {
										padding:14px 21px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.lang-es {
		menu#main {
			.left {
				.main-nav {
					ul {
						li {
							a {
								padding:14px 37px 14px 38px;
							}
						}
					}
				}
			}
		}
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
/* - iPhone Landscape - */////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) {

	menu#main {
		position:fixed;
		top:0 !important;
		.left {
			width:274px;
		}
		.main-nav {
			ul {
				li {
					a {
						padding:14px 33px;
					}
					&:last-child {
						a {
							padding:14px 33px 14px 34px;
						}
					}
				}
			}
		}
		.sub-nav {
			margin:0;
			width:480px;
			&.collapsed {
				.proyect-desc {
					height:320px !important;
				}
			}
			.proyect-desc {
				background:rgba(0,0,0,0.8);
				padding:15px !important;
				p {
					margin:10px 0 0;
				}
			}
		}
	}

	menu#proyect-navi {
		bottom:40px;
		a {
			width:40px;
			span {
				display:none;
				visibility:hidden;
			}
		}
	}
	#proyectos {
		.slides {
			ul {
				li {
					img {
						width:auto;
						height:100%;
						margin:0 0 0 -45px;
					}
				}
			}
		}
	}
	#about {
		.container {
			width:100%;
		}
		.imagen {
			.texto {
				padding:90px 20px 0;
				h1.desc {
					font-size:22px;
					padding:0;
					font-weight:300;
				}
			}
			&.about {
				height:300px;
				background-size:auto 30%;
			}
			&.equipo {
				height:300px;
				.texto {
					padding:60px 20px 0;
				}
			}
		}
		.content {
			padding:25px 0;
			p {
				padding:0 20px;
				font-size:15px;
			}
			&.equipo {
				ul.miembros {
					>li {
						margin:0 0 30px;
						.left {
							width:100px;
							margin:0 20px;
							img {
								width:100%;
								height:auto;
							}
						}
						.right {
							width:330px;
							padding:0 10px;
							h2 {
								font-size:23px;
								margin:0 auto 15px;
							}
						}
					}
				}
			}
		}
		.footer {
			.container {
				padding:25px;
			}
		}
	}
	#intro {
    	background-size:auto 100%;
    	.front {
    		.content {
    			margin-top:60px !important;
    			padding:80px 20px 0;
    			h1.desc {
					font-size:19px;
					margin:0 auto 20px;
					font-weight:300;
    			}
    		}
    	}
	}

	.home {
		menu#main {
			.left {
				.main-nav {
					ul {
						li {
							a {
								padding:14px 37px;
							}
							&:last-child {
								a {
									padding:14px 37px 14px 38px;
								}
							}
						}
					}
				}
			}
		}
		&.lang-es {
			menu#main {
				.left {
					.main-nav {
						ul {
							li {
								a {
									padding:14px 30px;
								}
								&:last-child {
									a {
										padding:14px 30px 14px 29px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&.lang-es {
		menu#main {
			.left {
				.main-nav {
					ul {
						li {
							a {
								padding:14px 26px;
							}
						}
					}
				}
			}
		}
	}

}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
/* - iPhone 5 Portrait - */////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (device-aspect-ratio: 40/71) and (orientation : portrait) {
	
	menu#main {
		.sub-nav {
			&.collapsed {
				.proyect-desc {
					height:528px !important;
				}
			}
		}
		.right {
			position:fixed;
			bottom:0;
			left:58px;
			z-index:9;
		}
	}
	#proyectos {
		.slides {
			ul {
				li {
					img {
						margin:0 0 0 -30px;
						width:auto;
						height:568px;
					}
				}
			}
		}
	}

}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
/* - iPhone 5 Landscape - */////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (device-aspect-ratio: 40/71) and (orientation : landscape) {
	
	menu#main {
		.sub-nav {
			&.collapsed {
				.proyect-desc {
					width:568px !important;
					height:320px;
				}
			}
		}
	}
	#proyectos {
		.slides {
			ul {
				li {
					img {
						margin:0;
						width:100%;
						height:auto;
						margin:0;
					}
				}
			}
		}
	}
	#about {
		.content {
			&.equipo {
				ul.miembros {
					>li {
						.right {
							width:410px;
						}
					}
				}
			}
		}
	}

	.home {
		menu#main {
			.left {
				width:362px;
				.main-nav {
					ul {
						li {
							a {
								padding:14px 59px;
							}
							&:last-child {
								a {
									padding:14px 59px 14px 60px;
								}
							}
						}
					}
				}
			}
		}
		&.lang-es {
			menu#main {
				.left {
					.main-nav {
						ul {
							li {
								a {
									padding:14px 52px;
								}
								&:last-child {
									a {
										padding:14px 52px 14px 51px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	menu#main {
		.left {
			width:362px;
			.main-nav {
				ul {
					li {
						a {
							padding:14px 55px;
						}
						&:last-child {
							a {
								padding:14px 55px 14px 56px;
							}
						}
					}
				}
			}
		}
	}
	&.lang-es {
		menu#main {
			.left {
				.main-nav {
					ul {
						li {
							a {
								padding:14px 48px;
							}
						}
					}
				}
			}
		}
	}

}